@font-face {
    font-family: 'CodeNormal';
    src: url('../Fonts/BrutalistMono.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'CodeBold';
    src: url('../Fonts/BrutalistMono-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'MonomonTall';
    src: url('../Fonts/MonomonTall.otf') format('opentype');
  }

@font-face {
    font-family: 'Photonico';
    src: url('../Fonts/Photonico.ttf') format('truetype');
  }
  