@import url('../Styles/custom-fonts.css');

.main-body {
  background-color: #f0f0f0; 
  background-image: url("../Images/MainPageBackground.png"); 
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  color: #ffffff;
  font-family: 'CodeNormal', sans-serif;
}

.main-title {
  padding-left: 20px;
  font-size: 2.5rem;
  font-weight: 700;
}

.main-text {
  padding-left: 20px;
  font-size: 1.2rem;
}